<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>路书</title>
    <style type="text/css">
    body,
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }

    #map_canvas {
        width: 100%;
        height: 500px;
    }

    #result {
        width: 100%
    }
    </style>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=2Y7d08560nDxsPSdMSWeafp4"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
</head>

<body>
    <div id="map_canvas"></div>
    <div id="result"></div>
    <button id="run">开始</button>
    <button id="stop">停止</button>
    <button id="pause">暂停</button>
    <button id="hide">隐藏信息窗口</button>
    <button id="show">展示信息窗口</button>
    <script>
    var map = new BMap.Map('map_canvas');
    map.enableScrollWheelZoom();
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 13);
    var lushu;
    var arrPois = new Array();
    var spoi1 = new BMap.Point(116.380967, 39.913285);
    arrPois.push(spoi1);
    var spoi2 = new BMap.Point(116.380967, 39.953285);
    arrPois.push(spoi2);

    map.addOverlay(new BMap.Polyline(arrPois, { strokeColor: '#111' }));
    lushu = new BMapLib.LuShu(map, arrPois, {
        autoView: true, //是否开启自动视野调整，如果开启那么路书在运动过程中会根据视野自动调整
        icon: new BMap.Icon('http://lbsyun.baidu.com/jsdemo/img/car.png', new BMap.Size(52, 26), { anchor: new BMap.Size(27, 13) }),
        speed: 4500,
        enableRotation: true, //是否设置marker随着道路的走向进行旋转
        landmarkPois: []
    });
    //绑定事件
    $("run").onclick = function() {
        lushu.start();
    }
    $("stop").onclick = function() {
        lushu.stop();
    }
    $("pause").onclick = function() {
        lushu.pause();
    }
    $("hide").onclick = function() {
        lushu.hideInfoWindow();
    }
    $("show").onclick = function() {
        lushu.showInfoWindow();
    }

    function $(element) {
        return document.getElementById(element);
    }
    </script>
</body>

</html>